{{ define "main" }}
<div class="px-4 py-11 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 flex-none md:flex lg:flex">
    <h1 class="text-5xl font-extrabold text-gray-900 dark:text-gray-50">Tutorials</h1>
    <h3 class="md:ml-6 lg:ml-6 text-2xl text-gray-500 dark:text-gray-400 self-center">6 Results Found</h3>
</div>
<div class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="grid gap-8 row-gap-5 mb-8 lg:grid-cols-3 sm:grid-cols-2">
        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white dark:bg-gray-800 rounded-lg shadow-sm hover:-translate-y-2">
            <div class="flex flex-col h-full">
                <div class="pb-5 flex-grow border border-gray-200 dark:border-gray-700 rounded-b">
                    <div class="flex justify-center mx-5 my-5 rounded-lg object-fill bg-cover bg-center" style="background-image: url('/images/placeholder.png'); height: 150px;"></div>
                    <div class="px-5">
                        <h6 class="mb-2 text-xl font-semibold leading-5 text-gray-900 dark:text-gray-50">Skate ipsum dolor</h6>
                        <p class="text-gray-600 dark:text-gray-400">
                            Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
                        </p>
                        <div class="flex mt-2">
                            <svg class="w-5 h-5 text-gray-600 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-2 text-sm text-gray-600 dark:text-gray-400">
                                lorem, ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white dark:bg-gray-800 rounded-lg shadow-sm hover:-translate-y-2">
            <div class="flex flex-col h-full">
                <div class="pb-5 flex-grow border border-gray-200 dark:border-gray-700 rounded-b">
                    <div class="flex justify-center mx-5 my-5 rounded-lg object-fill bg-cover bg-center" style="background-image: url('/images/placeholder.png'); height: 150px;"></div>
                    <div class="px-5">
                        <h6 class="mb-2 text-xl font-semibold leading-5 text-gray-900 dark:text-gray-50">Skate ipsum dolor</h6>
                        <p class="text-gray-600 dark:text-gray-400">
                            Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
                        </p>
                        <div class="flex mt-2">
                            <svg class="w-5 h-5 text-gray-600 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-2 text-sm text-gray-600 dark:text-gray-400">
                                lorem, ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white dark:bg-gray-800 rounded-lg shadow-sm hover:-translate-y-2">
            <div class="flex flex-col h-full">
                <div class="pb-5 flex-grow border border-gray-200 dark:border-gray-700 rounded-b">
                    <div class="flex justify-center mx-5 my-5 rounded-lg object-fill bg-cover bg-center" style="background-image: url('/images/placeholder.png'); height: 150px;"></div>
                    <div class="px-5">
                        <h6 class="mb-2 text-xl font-semibold leading-5 text-gray-900 dark:text-gray-50">Skate ipsum dolor</h6>
                        <p class="text-gray-600 dark:text-gray-400">
                            Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
                        </p>
                        <div class="flex mt-2">
                            <svg class="w-5 h-5 text-gray-600 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-2 text-sm text-gray-600 dark:text-gray-400">
                                lorem, ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white dark:bg-gray-800 rounded-lg shadow-sm hover:-translate-y-2">
            <div class="flex flex-col h-full">
                <div class="pb-5 flex-grow border border-gray-200 dark:border-gray-700 rounded-b">
                    <div class="flex justify-center mx-5 my-5 rounded-lg object-fill bg-cover bg-center" style="background-image: url('/images/placeholder.png'); height: 150px;"></div>
                    <div class="px-5">
                        <h6 class="mb-2 text-xl font-semibold leading-5 text-gray-900 dark:text-gray-50">Skate ipsum dolor</h6>
                        <p class="text-gray-600 dark:text-gray-400">
                            Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
                        </p>
                        <div class="flex mt-2">
                            <svg class="w-5 h-5 text-gray-600 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-2 text-sm text-gray-600 dark:text-gray-400">
                                lorem, ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white dark:bg-gray-800 rounded-lg shadow-sm hover:-translate-y-2">
            <div class="flex flex-col h-full">
                <div class="pb-5 flex-grow border border-gray-200 dark:border-gray-700 rounded-b">
                    <div class="flex justify-center mx-5 my-5 rounded-lg object-fill bg-cover bg-center" style="background-image: url('/images/placeholder.png'); height: 150px;"></div>
                    <div class="px-5">
                        <h6 class="mb-2 text-xl font-semibold leading-5 text-gray-900 dark:text-gray-50">Skate ipsum dolor</h6>
                        <p class="text-gray-600 dark:text-gray-400">
                            Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
                        </p>
                        <div class="flex mt-2">
                            <svg class="w-5 h-5 text-gray-600 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-2 text-sm text-gray-600 dark:text-gray-400">
                                lorem, ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/" aria-label="View Item" class="inline-block overflow-hidden duration-300 transform bg-white dark:bg-gray-800 rounded-lg shadow-sm hover:-translate-y-2">
            <div class="flex flex-col h-full">
                <div class="pb-5 flex-grow border border-gray-200 dark:border-gray-700 rounded-b">
                    <div class="flex justify-center mx-5 my-5 rounded-lg object-fill bg-cover bg-center" style="background-image: url('/images/placeholder.png'); height: 150px;"></div>
                    <div class="px-5">
                        <h6 class="mb-2 text-xl font-semibold leading-5 text-gray-900 dark:text-gray-50">Skate ipsum dolor</h6>
                        <p class="text-gray-600 dark:text-gray-400">
                            Sportacus andrew weatherall goose Refined gentlemen super mario des lynam alpha trion zap rowsdower.
                        </p>
                        <div class="flex mt-2">
                            <svg class="w-5 h-5 text-gray-600 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                            <p class="ml-2 text-sm text-gray-600 dark:text-gray-400">
                                lorem, ipsum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{{ end }}
